{% extends "site_base.html" %}

{% block body_class %}blog{% endblock %}


{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                <h1>
                    adm's blog
                </h1>
                <p class="lead">
                Hi! I'm adm and this is my blog.
                Browse around to read about the things I work on, and the things I like.
                Oh, and if you get lost, <a href="{% url 'blog' %}"><quote>here's the way home</quote>
                </p>
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
